# NES API Konfigürasyonu
NES_API_BASE_URL=https://developertest.nes.com.tr/api
NES_API_USERNAME=test01@nes.com.tr
NES_API_PASSWORD=U782pAd4%gGO
NES_API_CLIENT_ID=your_client_id
NES_API_CLIENT_SECRET=5E7B70201FB9F6E96CFF9805DC8224C6FD5FB3AB309E928BC0A29FB82EB4F6EE

# Loglama
LOG_LEVEL=INFO
LOG_FILE=logs/nes_fatura.log

# Test Modu
TEST_MODE=true
